/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.log
.classpath
.project
.settings/
.vscode/
*.iml
.idea/
.DS_Store
Thumbs.db
*.json
!src/main/resources/*.json
!src/test/resources/*.json
!package.json
!tsconfig.json
src/main/resources/application-secrets.properties
backend/.env.template